* {
	color: white;
}

body {
	background: url(../images/holy_hand_grenade.jpg) no-repeat center center fixed;
	background-size: cover;
}

h1 {
	text-align: center;
}

h1, div {
	font-family: Old English Text MT;
}

.row {
	width: 100%;
}

.character {
	float: left;
	position: relative;
	padding: 5px;
	margin: 5px;
	border: 2px inset blue;
	text-align: center;
}

.character p {
	position: absolute;
	bottom: 0;
	text-align: center;
	margin-left: 40%;
	color: #F1F1F1;
}

h4 {
	text-align: center;
}

img {
	display: block;
	width: 200px;
	height: 150px;
}

h3 {
	clear: both;
}

#clear {
	clear: both;
	margin: auto;
}

button {
	clear: both;
}

 #messages {
	color: #F1F1F1;
	margin-top: 15px;
} 

#reset, #deadPool {
	display: none;
}